/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2016, 2:27:46 AM
    Author     : Arash
*/

*{
    font-family: 'Papyrus';
}

body {
    background-image: url('../img/homepage.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: beige;
}

/* I didn't like how it would add underline
 for links
 */
a { 
    color: inherit;
    text-decoration: none;
    cursor: auto;
}