/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2016, 2:53:08 PM
    Author     : Yuki
*/

*{
    font-family: 'Book Antiqua';
    font-size: 100%;
}

body {
  background: #fff;
}

p{
    text-align: left;
}


table, td{
    width: 800px;
    height: 400px;
    border: 5px;
}



div {
  width: 1200px;
  margin: auto;
  overflow: auto;
}


#header {
    background-color:burlywood;
    color:beige;
    text-align:center;
    padding:5px;
    float:top;
}

#footer {
    position: static;
    background-color:burlywood;
    color:beige;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
