/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2016, 5:27:35 PM
    Author     : Arash
*/

#header {
    background-color:burlywood;
    color:beige;
    text-align:center;
    padding:5px;
    float:top;
}

#footer {
    background-color:burlywood;
    color:beige;
    clear:both;
    text-align:center;
    padding:5px;
    bottom: 0;
}

#image {
  top: 50%;
  left: 50%;
  height: 400px;
  weight: 400px;  
  float:left; 
  padding:10px;
}

.left {
    display: inline-block;
    float: left;
    clear: left;
    width: 110px;
    text-align: left;
}
.description{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    width: 400px;
    padding-bottom: 50px;
}
.right {
    display: inline-block;
    float: left;
    text-align: left;
}


ul {
    list-style-type:square;
    float: left;
    padding-left: 100px;
    padding-top: 20px;
}

p {
    float: left;
    padding-left: 100px;
    padding-top: 10px;
}


#form {
    position: relative;
    float: none;
}